<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vueshop.manager.dao.mapper.MenuInfoDao">

    <resultMap id="MenuInfoMap" type="com.vueshop.manager.dao.model.MenuInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="auth_name" property="authName" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="display" property="display" jdbcType="TINYINT"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="allColumn">
       id,
       auth_name,
       path,
       pid,
       status,
       display,
       level,
       createtime,
       updatetime
    </sql>


    <select id="queryMenuInfoAll" resultMap="MenuInfoMap">
        SELECT
        <include refid="allColumn"/>
        FROM user_menus
        WHERE display = 1
        AND status = 1
        ORDER BY level ASC
    </select>


    <select id="queryMenuInfo" resultMap="MenuInfoMap">
        SELECT
        <include refid="allColumn"/>
        FROM user_menus
        WHERE status = 1
        ORDER BY level ASC
    </select>

    <select id="queryMenuInfoByRoleId" resultMap="MenuInfoMap">
        SELECT
            um.id,
            um.auth_name,
            um.path,
            um.pid,
            um.status,
            um.display,
            um.level,
            um.createtime,
            um.updatetime
        FROM user_menus um
        RIGHT JOIN user_role_menu urm ON um.id = urm.menu_id
        WHERE status = 1
        AND urm.role_id = #{roleId}
        ORDER BY level ASC
    </select>

    <select id="queryMenuInfoByPid" resultMap="MenuInfoMap">
        SELECT
            um.id,
            um.auth_name,
            um.path,
            um.pid,
            um.status,
            um.display,
            um.level,
            um.createtime,
            um.updatetime
        FROM user_menus um
        RIGHT JOIN user_role_menu urm ON um.id = urm.menu_id
        WHERE status = 1
        AND urm.role_id = #{roleId}
        AND um.pid = #{rightId}
        ORDER BY level ASC
    </select>


    <insert id="insertRoleBatch">
        INSERT INTO user_role_menu (role_id,menu_id,createtime,updatetime)
        VALUES
        <foreach collection="rids" item="item" index="index" separator=",">
            (#{roleId},#{item},NOW(),NOW())
        </foreach>
    </insert>

    <delete id="deleteRights">
        DELETE FROM user_role_menu WHERE role_id = #{roleId} AND  menu_id = #{rightId}
    </delete>

    <delete id="deleteRightsByRId">
        DELETE FROM user_role_menu WHERE role_id = #{roleId}
    </delete>

</mapper>
