<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vueshop.manager.dao.mapper.RoleInfoDao">

    <resultMap id="RoleInfoMap" type="com.vueshop.manager.dao.model.RoleInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_desc" property="roleDesc" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="allColumn">
     id,
     role_name,
     role_desc,
     status,
     createtime,
     updatetime
    </sql>


    <select id="queryRoleInfoAll" resultMap="RoleInfoMap">
        SELECT
        <include refid="allColumn"/>
        FROM user_role
        AND status = 1
    </select>

    <select id="queryRoleInfoById" resultType="com.vueshop.manager.dao.model.RoleInfo">
        SELECT
        <include refid="allColumn"/>
        FROM user_role
        WHERE id = #{id}
    </select>

    <insert id="insertRoleOne" parameterType="com.vueshop.manager.controller.http.request.RoleInfoRequest">
        INSERT INTO user_role (role_name,role_desc,status,createtime,updatetime)
        VALUES (#{roleInfo.role_name},#{roleInfo.role_desc},#{roleInfo.status},NOW(),NOW())
    </insert>

    <update id="updateRoleInfo">
        UPDATE user_role
        <set>
            <if test=" roleInfo.roleName != null and roleInfo.roleName != ''">
                role_name =#{roleInfo.roleName},
            </if>
            <if test=" roleInfo.roleDesc != null and roleInfo.roleDesc != ''">
                role_desc =#{roleInfo.roleDesc},
            </if>
            <if test=" roleInfo.status != null">
                status =#{roleInfo.status},
            </if>
            updatetime = now()
        </set>
        WHERE id =#{roleInfo.id}
    </update>

    <delete id="deleteRoleById">
        DELETE FROM user_role WHERE id = #{id}
    </delete>
</mapper>
